<script>
  // Google analytics
  (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-P5T597');

  // Hijack the setupCategoryDisplayEventList function to always load events in the future.
  // This may start to fail if the order of loading JS changes.
  window._setupCategoryDisplayEventList = window.setupCategoryDisplayEventList;
  window.setupCategoryDisplayEventList = function (_, showPastEvents) {
    window._setupCategoryDisplayEventList(true, showPastEvents);
    // In indico 2.0.3 we still don't have the showFutureEvents parameter
    // and we need to work around it.
    var $eventList = $('.event-list');
    var $futureEvents = $eventList.find('.future-events');
    $futureEvents.find('.js-toggle-list').first().trigger('click', true);
  }

</script>