{% from 'events/display/common/_manage_button.html' import render_manage_button %}
{% from 'events/display/indico/_common.html' import render_location, render_users %}
{% from 'events/timetable/display/indico/_subcontribution.html' import render_subcontribution %}
{% from 'events/timetable/display/indico/_common.html' import render_speakers, render_references, render_attachments,
                                                              render_notes, render_description, render_time %}


<!-- Session Block -->
{% macro render_session_block(block, event, theme_settings, theme_context, parent=none, timezone=none,
                              show_notes=false, hide_contribs=false, show_location=false,
                              show_children_location=false) %}
    {% set session_ = block.session %}
    {% set entries = block.timetable_entry.children %}

    {% set anchor = slugify('b', block.id, session_.title, block.title, maxlen=30) %}

    <li class="timetable-item timetable-block" id="{{ anchor }}">
        <span class="timetable-time top-level">
            {% if not theme_settings.hide_session_block_time %}
                {{ render_time(block, timezone=timezone) }}
            {% endif %}
        </span>
        <div class="timetable-item-body flexcol">
            <div class="timetable-item-header flexrow">
                <span class="timetable-title top-level" data-anchor="{{ anchor }}">
                    {%- if block.title and block.title != session_.title -%}
                        {{- session_.title -}}: {{ block.title -}}
                    {%- else -%}
                        {{- session_.title -}}
                    {%- endif -%}
                </span>
                {% if block.has_location_info and show_location -%}
                    {{ render_location(block, parent=event) }}
                {%- endif %}
                <div class="timetable-item-actions">
                    {{ render_manage_button(block, 'SESSION_BLOCK', show_notes=show_notes,
                                            show_button=(not event.is_locked and
                                                         block.can_manage_attachments(session.user))) }}
                    {{ template_hook('vc-actions', event=event, item=block) }}
                </div>
            </div>
            {% if session_.description %}
                {{ render_description(session_, class='session-description') }}
            {% endif %}

            {% set conveners = block.person_links %}
            {% if conveners %}
                <div class="convener-list">
                    <span class="label">{{ ngettext("Convener", "Conveners", conveners|length) }}</span>:
                    {{ render_users(conveners|sort(attribute='display_order_key')) -}}
                </div>
            {% endif %}


            <table class="timetable-item-details session-details">
                <tbody>
                    {{ render_attachments(session_) }}
                </tbody>
            </table>

            {{ render_notes(session_) }}

            {% if entries and not hide_contribs -%}
                <ul class="meeting-sub-timetable">
                    {# It's impossible to sort by `lambda:` with Jinja, hence the double-sort #}
                    {% for entry in entries|sort(attribute='object.title')|sort(attribute='start_dt') %}
                        {% if entry.type.name == 'CONTRIBUTION' and entry.object.can_access(session.user) %}
                            {% set theme_context.num_contribution = theme_context.num_contribution + 1 %}
                            {{ render_contribution(entry.contribution, event, theme_settings, theme_context,
                                                   nested=true, hide_end_time=true, show_notes=show_notes,
                                                   timezone=timezone, parent=block, show_location=show_children_location) }}
                        {% elif entry.type.name == 'BREAK' %}
                            {{ render_break(entry.break_, event, theme_settings, nested=true, hide_end_time=true,
                                            timezone=timezone, show_location=show_children_location) }}
                        {% endif %}
                    {% endfor %}
                </ul>
            {%- endif %}
        </div>
    </li>
{% endmacro %}

<!-- Contribution row -->
{% macro render_contribution(contrib, event, theme_settings, theme_context, parent=none, nested=false, hide_end_time=false,
                             timezone=none, show_notes=false, show_location=false) -%}
    {% set anchor = slugify(contrib.friendly_id, contrib.title, maxlen=30) %}
    <li class="timetable-item timetable-contrib" id="{{ anchor }}">
        <span class="timetable-time {{ 'nested' if nested else 'top-level' }}">
            {% if theme_settings.number_contributions %}
                <span class="start-time">
                    {{ theme_context.num_contribution }}
                </span>
            {% else %}
                {{ render_time(contrib, timezone=timezone, hide_end_time=hide_end_time) }}
            {% endif %}
        </span>

        <div class="timetable-item-body flexcol">
            <div class="timetable-item-header flexrow">
                <span class="timetable-title {{ 'nested' if nested }}" data-anchor="{{ anchor }}">
                    {{- contrib.title -}}
                </span>
                {% if contrib.duration and not theme_settings.hide_duration -%}
                    <span class="icon-time timetable-duration">
                        {{- contrib.duration | format_human_timedelta(narrow=true) -}}
                    </span>
                {%- endif %}
                {% if contrib.has_location_info and show_location -%}
                    {{ render_location(contrib, parent=parent) }}
                {%- endif %}
                <div class="timetable-item-actions">
                    {{ render_manage_button(contrib, 'CONTRIBUTION', show_notes=show_notes,
                                            show_button=(not event.is_locked and
                                                         contrib.can_manage_attachments(session.user))) }}
                    {{ template_hook('vc-actions', event=event, item=contrib) }}
                </div>
            </div>

            <!-- {% if contrib.description %}
                {{ render_description(contrib, class='contrib-description') }}
            {% endif %} -->

            {% set speakers = contrib.person_links|selectattr("is_speaker")|list %}
            {% if speakers %}
                {{ render_speakers(speakers) }}
            {% endif %}

            {% if contrib.references -%}
                {{ render_references(contrib) }}
            {%- endif %}
            {{ render_attachments(contrib) }}

            {{ render_notes(contrib) }}

            {% if contrib.subcontributions %}
                <ul class="subcontrib-list">
                    {% for subcont in contrib.subcontributions %}
                        {% set theme_context.num_subcontribution = loop.index %}
                        {{ render_subcontribution(subcont, event, theme_settings, theme_context, show_notes=show_notes) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </li>
{%- endmacro %}

<!-- Break row -->
{% macro render_break(item, event, theme_settings, theme_context, parent=none, timezone=none,
                      show_notes=true, hide_end_time=false, nested=false, show_location=false) %}
    <li class="timetable-item timetable-break">
        <span class="timetable-time break {{ 'nested' if nested else 'top-level' }}">
            {{ render_time(item, timezone=timezone, hide_end_time=hide_end_time) }}
        </span>

        <div class="timetable-item-body flexcol">
            <div class="timetable-item-header flexrow">
                <span class="timetable-title {{ 'top-level' if not nested }} break">
                    {{- item.title -}}
                </span>
                {% if item.duration and not theme_settings.hide_duration -%}
                    <span class="icon-time timetable-duration">
                        {{ item.duration | format_human_timedelta(narrow=true) }}
                    </span>
                {%- endif %}

                {% if item.has_location_info and show_location -%}
                    {{ render_location(item, parent=parent) }}
                {%- endif %}

            </div>
            {% if item.description %}
                {{ render_description(item, class='break-description') }}
            {% endif %}
        </div>
    </li>
{% endmacro %}

<!-- Timeline -->
{% if entries %}
    {% set theme_context = namespace(num_contribution=0) %}
    <ul class="dayList">
        {% for item in entries -%}
            {% set date = item.start_dt.astimezone(tz_object).date() %}
            {% set date_changed = loop.changed(date) %}

            {% if date_changed and not loop.first -%}
                    </ul>
                </li>
            {%- endif -%}

            {%- if date_changed -%}
                {% set theme_context.num_contribution = 0 %}

                {% set anchor -%}
                    day-{{ item.start_dt.date().isoformat() }}
                {%- endset %}
                <li id="{{ anchor }}">
                    {% if multiple_days %}
                        <div class="day-header" style="width: 100%;">
                            <div class="day-title" data-anchor="{{ anchor }}">
                                {{ item.start_dt | format_date(format='EEEE, d MMMM', timezone=timezone) }}
                            </div>
                            {% if days|length > 1 %}
                                <a href="" class="js-go-to-day icon-calendar arrow js-dropdown" data-toggle="dropdown"></a>
                                <ul class="dropdown days-dropdown">
                                    {% for day, _ in days %}
                                        <li>
                                            <a href="#day-{{ day.isoformat() }}">
                                                {{ day | format_date(format='EEE, d MMM', timezone=timezone) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                    <ul class="meeting-timetable">
            {%- endif %}

            {% if item.type.name == 'CONTRIBUTION' -%}
                {% set theme_context.num_contribution = theme_context.num_contribution + 1 %}
                {{ render_contribution(item.object, event, theme_settings, theme_context, nested=false,
                                       timezone=timezone, show_notes=theme_settings.show_notes, parent=event,
                                       show_location=show_siblings_location) }}
            {%- elif item.type.name == 'SESSION_BLOCK' -%}
                {{ render_session_block(item.object, event, theme_settings, theme_context, timezone=timezone,
                                        show_notes=theme_settings.show_notes, parent=event, hide_contribs=hide_contribs,
                                        show_location=show_siblings_location,
                                        show_children_location=show_children_location[item.id]) }}
            {%- elif item.type.name == 'BREAK' -%}
                {{ render_break(item.object, event, theme_settings, theme_context, nested=false, timezone=timezone,
                                show_notes=theme_settings.show_notes, parent=event,
                                show_location=show_siblings_location) }}
            {%- endif %}
        {%- endfor %}

        {% if entries -%}
                </ul>
            </li>
        {%- endif %}
    </ul>
{% else %}
    <div class="agenda-placeholder flexrow f-a-center">
        <div class="agenda-placeholder-content">
            <span class="placeholder-icon icon-calendar"></span>
            <div class="placeholder-text">{% trans %}The agenda of this meeting is empty{% endtrans %}</div>
            {% if event.can_manage(session.user) %}
                <div>
                    {%- trans url=url_for('timetable.management', event) -%}
                        In order to add entries go to the <a href="{{ url }}">timetable</a> page.
                    {%- endtrans -%}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
