<p>
    Dear {first_name} {last_name},
</p>
<p>
    This is to confirm our invitation for you to give a talk at {event_title} to be held at ECMWF _-_ _ 201_.
</p>
You will see from the draft programme published on the workshop webpage that talks are 30 minutes long.
<ol>
 <li>Please provide me with a title for your presentation as soon as possible so I can add it to the programme.</li>
 <li>By _ _, please send me an abstract for your talk using the attached template.</li>
 <li>Also by _ _, please send me a biography (100-150 words) and colour head and shoulders photo (300 dpi)</li>
</ol>
<p>
We are planning to film the talks and publish the recordings on the workshop webpage after the event. If you have any issues with being filmed, please let me know. We also plan to publish your slides in PDF format, if you do not wish your presentation to be published please let me know.
</p>
<p>
If required, we are able to partially fund your participation up to a maximum of GBP 600. Please let me know if you would like to accept this offer of partial funding.
</p>
<p>
We look forward to your participation in the workshop.
</p>
<p>
Regards
</p>